@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form id="account" method="post" class="md-float-material form-material">
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <img src="~/images/coreteclogo.png" height="60" alt="logo.png">
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center">Times U - Reset password confirmation</h3>
                                </div>
                            </div>
                            <p>
                                Your password has been reset successfully.
                            </p>
                            <hr />
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-inverse text-left">
                                        <a asp-page="./Login" asp-route-returnUrl="@Url.Content("~/")" data-load="">
                                            <b class="f-w-600">Sign In</b>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
