
<div>
    <div class="modal-header">
        <h6 class="modal-title"><span class="f-w-600">@ViewData["Title"]</span></h6>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-toolbar">
                    <button type="button " class="btn btn-outline-danger btn-sm btn-pure float-right" data-dismiss="modal"><i class="far fa-window-close"></i>Close</button>
                </div>
                <div class="modal-controls">
                    <div class="card">
                        <div class="card-block">
                            <partial name="Index" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_ModalScripts" />
</div>
