<!DOCTYPE html>
<html lang="en">
<head>
    <title>DPW Assessment - Login</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="author" content="Nickson Mwangi - Senior Full Stack Developer">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebUI.styles.css" asp-append-version="true" />

    <link rel="shortcut icon" href="~/images/favicon.ico">
    @*   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">*@

    <link rel="stylesheet" href="~/css/bundles/login.min.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="container mt-5">
            @RenderBody()
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @{
        var displayMsg = ViewData["alert"] ?? ViewData["alert"];
        if (displayMsg != null && !string.IsNullOrEmpty(displayMsg.ToString()))
        {
            <script>
                @Html.Raw(displayMsg)
            </script>
        }
    }
</body>
</html>
