<!DOCTYPE html>
<html lang="en">
<head>
    <title>DPW Assessment - Login</title>
    <!--[if lt IE 10]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="author" content="Nickson Mwangi - Senior Full Stack Developer">

    <link rel="shortcut icon" href="~/images/favicon.ico">
 @*   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">*@

    <link rel="stylesheet" href="~/css/bundles/login.min.css" asp-append-version="true" />
</head>
<body class="fix-menu">
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>
    @RenderBody()

    <script src="~/js/bundles/jquery.min.js"></script>
    <script src="~/js/bundles/modernizr.min.js"></script>
    <script src="~/js/bundles/i18next.min.js"></script>
    <script src="~/js/bundles/login.min.js"></script>
    @RenderSection("Scripts", required: false)

    @{
        var displayMsg = ViewData["alert"] ?? ViewData["alert"];
        if (displayMsg != null && !string.IsNullOrEmpty(displayMsg.ToString()))
        {
            <script>
                @Html.Raw(displayMsg)
            </script>
        }
    }
</body>
</html>
